@import "tailwindcss";


@theme {
    --color-page: rgb(254, 253, 255);
    --color-primary-heading: #121b12;
    --color-secondary-heading: #7e8016;
    --color-button-bg: rgb(5, 31, 200);
    --color-border-input: rgb(227, 232, 233);
    --color-placeholder: rgb(187, 192, 195);
    --color-first-position: rgb(240, 177, 0);
    --color-second-postion: rgb(115, 115, 115);
    --color-third-position: rgb(254, 154, 0);
}